*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(222, 138, 137);
    color: white;
}   
nav{
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    font-size: 35px;
}
header{
    margin-left: 20rem;
}
.instruction{
    width: 45rem;
    font-size: 20px;
    margin-top: 1rem;
}
.middle{
    background-color: black;
    width: 15rem;
    height: 15rem;
}